<launch>
  <arg name="INPUT_IMAGE" default="/kinect_head/rgb/image_rect_color" />
  <arg name="INPUT_CLOUD" default="/kinect_head/depth_registered/throttled/points" />
  <arg name="MANAGER" default="/kinect_head/kinect_head_c2_nodelet_manager" />
  
  <include file="sample_fg.launch" />
    
  <!-- <node pkg="nodelet" type="nodelet" name="sample_manager" -->
  <!--       args="manager" /> -->

  <!-- <node name="pointcloud_mux" -->
  <!--       pkg="topic_tools" type="mux" -->
  <!--       args="/tilt_scan_filtered_mux /tilt_scan_filtered/navigation/without_hand /tilt_scan_filtered/navigation" > -->
  <!--   <remap from="mux" to="pointcloud_mux"/> -->
  <!-- </node> -->

  <node name="multi_euclidean_clustering"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/EuclideanClustering $(arg MANAGER)"
        output="screen">
    <remap from="~input/cluster_indices" to="/fg_node/output/cluster_indices" />
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <rosparam subst_value="true">
      tolerance: 0.02
      min_size: 0
      max_size: 307200
      approximate_sync: true
      downsample_enable: true
      multi: true
      queue_size: 39
      cluster_filter: 1<!-- take max size of clustering in each cluster -->
      leaf_size: 0.01
    </rosparam>
  </node>

  <node name="multi_euclidean_cluster_point_indices_decomposer"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <remap from="~target" to="/multi_euclidean_clustering/output" />
    <rosparam>
      align_boxes: false
      use_pca: true
      approximate_sync: false
      queue_size: 100
    </rosparam>
  </node>
  
</launch>
